.git_archival.txt  export-subst
tests/test-data/*.sig  linguist-detectable=false
tests/test-data/*/*.sig  linguist-detectable=false
tests/test-data/*/*/*.sig  linguist-detectable=false
tests/test-data/.sbt.v2/*.sbt  linguist-detectable=false
include/sourmash.h  linguist-language=C
