*~
*.fa
*.fastq.gz
*.abundtrim
*.keep
*.pyc
*.sig
*.png
*.labels.txt
distances
*.npy
dist
build
sourmash.egg-info
.ipynb_checkpoints
_minhash.so
.cache
*.so
.coverage
sourmash_lib/_minhash.cpp
sourmash/_minhash.cpp
