*~
*.fa
*.fastq.gz
*.abundtrim
*.keep
*.pyc
*.sig
*.png
*.labels.txt
distances
*.npy
dist
build
sourmash.egg-info
.ipynb_checkpoints
.cache
*.so
.coverage
.pytest_cache
.python-version
sourmash/version.py
*.DS_Store
.tox
sourmash/_lowlevel*.py
.env
Pipfile
Pipfile.lock
target/
Cargo.lock
.eggs
.asv
pkg/
wasm-pack.log
