*~
*.fa
*.fastq.gz
*.abundtrim
*.keep
*.pyc
*.sig
*.png
*.labels.txt
distances
*.npy
dist
build
sourmash.egg-info
.ipynb_checkpoints
.cache
*.so
.coverage
.pytest_cache
.python-version
sourmash/version.py
.tox
.eggs
.asv
sourmash/_lowlevel.py
sourmash/_lowlevel__ffi.py
/target/
ocf/target/
**/*.rs.bk
Cargo.lock
pkg/
wasm-pack.log
