include LICENSE Makefile Dockerfile LICENSE Makefile README.md
recursive-include sourmash_lib *
recursive-include third-party *.cc *.h
recursive-include README.rst
global-exclude *.orig
global-exclude *.pyc
