include LICENSE Makefile Dockerfile LICENSE Makefile README.md requirements.txt
include index.ipynb
recursive-include sourmash_lib *
recursive-include third-party *.cc *.h
global-exclude *.orig
global-exclude *.pyc
