pytest
screed
numpy
matplotlib
scipy
Cython
khmer>=2.1,<3
sphinx
alabaster
recommonmark
sphinxcontrib-napoleon
pathos
-e git://github.com/betteridiot/bamnostic.git@e690e50de5cfc59569e36b100d1538c47ba009d5#egg=bamnostic
