[package]
name = "sourmash"
version = "0.3.0"
authors = ["Luiz Irber <luiz.irber@gmail.com>"]
description = "MinHash sketches for genomic data"
repository = "https://github.com/dib-lab/sourmash"
keywords = ["minhash", "bioinformatics"]
categories = ["science", "algorithms", "data-structures"]
license = "BSD-3-Clause"
edition = "2018"
readme = "README.md"
autoexamples = false
autobins = false

[lib]
name = "sourmash"
crate-type = ["lib", "staticlib", "cdylib"]
bench = false

[features]
from-finch = ["finch"]

#[build-dependencies]
#cbindgen = "~0.6.7"

[dependencies]
byteorder = "1.3.2"
cfg-if = "0.1.10"
failure = "0.1.6"
failure_derive = "0.1.6"
finch = { version = "0.3.0", optional = true }
fixedbitset = "0.2.0"
log = "0.4.8"
md5 = "0.7.0"
murmurhash3 = "0.0.5"
once_cell = "1.2.0"
serde = "1.0.103"
serde_derive = "1.0.103"
serde_json = "1.0.44"
primal-check = "0.2.3"
typed-builder = "0.4.0"

[target.'cfg(all(target_arch = "wasm32", target_vendor="unknown"))'.dependencies.wasm-bindgen]
version = "0.2.55"
features = ["serde-serialize"]

[target.'cfg(not(all(target_arch = "wasm32", target_vendor="unknown")))'.dependencies.niffler]
version = "1.0"
default-features = false

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
proptest = "0.9.4"

[dev-dependencies]
criterion = "0.3.0"
rand = "0.7.2"
tempfile = "3.1.0"
assert_matches = "1.3.0"
assert_cmd = "0.12.0"
predicates = "1.0.2"

[dev-dependencies.needletail]
version = "0.3.2"
default-features = false
#features = ["compression"]

[[bench]]
name = "index"
harness = false
