name: Rust checks

on:
  push:
    branches: [master]
    paths:
      - 'src/core/**'
  pull_request:
    paths:
      - 'src/core/**'

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: check

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        build: [beta, stable, windows, macos]
        include:
          - build: macos
            os: macos-latest
            rust: stable
            continue: false
          - build: windows
            os: windows-latest
            rust: stable
            continue: true
          - build: beta
            os: ubuntu-latest
            rust: beta
            continue: false
          - build: stable
            os: ubuntu-latest
            rust: stable
            continue: false
    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - name: Install dependencies
        continue-on-error: ${{ matrix.continue }}
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-fail-fast

  test_all_features:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-fail-fast --all --all-features

  coverage:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true

      - name: Coverage with tarpaulin
        uses: actions-rs/tarpaulin@v0.1
        with:
          args: '--all --all-features -- --test-threads 1'

      - name: Upload Rust coverage to codecov
        uses: codecov/codecov-action@797e92895ec0eac368405352c0add9af878fe257
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: rusttests
          fail_ci_if_error: true

  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          components: rustfmt, clippy

      - name: Run cargo fmt
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

      - name: Run cargo clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: -- -D warnings

  wasm-pack:
    name: Check if wasm-pack builds a valid package for the sourmash crate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
      - uses: actions-rs/cargo@v1
        with:
          command: install
          args: --force wasm-pack --version 0.8.1
      - name: run wasm-pack
        run: wasm-pack build src/core -d ../../pkg

  wasm32-wasi:
    name: Run tests under wasm32-wasi
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Install wasm32-wasi target
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-wasi
      - name: Install wasmtime
        run: "curl https://wasmtime.dev/install.sh -sSf | bash"
      - name: Add wasmtime to PATH
        run: echo "::add-path::$HOME/.wasmtime/bin"
      - name: Install cargo-wasi command
        uses: actions-rs/cargo@v1
        with:
          command: install
          args: --force cargo-wasi
      - name: Build code with cargo-wasi
        uses: actions-rs/cargo@v1
        with:
          command: wasi
          args: build
      - name: Run tests under wasm32-wasi
        uses: actions-rs/cargo@v1
        continue-on-error: true  ## TODO: remove this when tests work...
        with:
          command: wasi
          args: test

  publish:
    name: Publish (dry-run)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v1

      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true

      - name: Make sure we can publish the sourmash crate
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: --dry-run --manifest-path src/core/Cargo.toml

  minimum_rust_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: 1.34.0
          override: true

      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -e .

      - name: Run tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --no-fail-fast
